<h1>New task</h1>

<% form_for(@task) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.label :priority %>
    <%= f.select :priority, [4, 3, 2, 1] %>
  </p>
  <p>
    <%= f.label :due_date %>
    <%= f.date_select :due_date, :order => [:month, :day, :year] %>
  </p>
  <p>
    <%= f.label :completed %>
    <%= f.check_box :completed %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', tasks_path %>