<p>
  <b>Name:</b>
  <%=h @task.name %>
</p>

<p>
  <b>Notes:</b>
  <%=h @task.notes %>
</p>

<p>
  <b>Priority:</b>
  <%=h @task.priority %>
</p>

<p>
  <b>Due Date:</b>
  <%=h @task.due_date %>
</p>

<p>
  <b>Completed:</b>
  <%=h @task.completed %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>